
body {
	background-color: black;
	height: 100%;
	color: white;
}

#clock {
	font-size: 10px;
	height: 1em;
	text-align: center;
	position: relative;
	margin-left: auto;
	margin-right: auto;
}


a, a:visited {
	color: #555555;
	text-decoration: none;
}

#info {
	display: none;
	position: fixed;
	top: 0px;
	left: 0px;
	z-index: 10;
}

.nomouse {
	cursor: none;
}